<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to events</h2>
    <h2>We have {{total}} events</h2>
    <h2>The total events is:</h2>
    {% for event in totalEvents %}
    <form action="">
    <p>{{ event.event_name }}</p>
    <a href="update/{{event.id}}/">Edit</a>
    <a href="delete/{{event.id}}/">Delete</a>
    </form>
    {% endfor %}
    <button><a href = "createevent/">Create new event<a></button>
    
</body>
</html>