{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel = "stylesheet" href = "{% static 'visitor_register/css/index.css' %}">-->
    <title>Document</title>
</head>
<body>
    <h2>Welcome to visitors</h2>
    <h2>We have {{numberOfVisitors}} visitors</h2>
    <br><br>
    {% for visitor in visitors %}
        {{visitor.resident_name}}
        <button><a href="update/{{visitor.id}}/">Edit</a></button>
        <button><a href="delete/{{visitor.id}}/">Delete</a></button>
        <br><br>

    {% endfor %}

    <button><a href="newvisitor/">Sign in your visitor</a></button>
    

    <!--<script src = "{% static 'visitor_register/javascript/index.js'%}"></script>-->
    
    
</body>
</html>
