{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'visitor_register/css/visitor_form.css'%}">
    <title>Document</title>
</head>
<body>
    <h2>Sign in your visitors</h2>
    <form action="" method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button><a href="{% url 'visitor_register:index' %}">Back</a></button>
        <input id = "submitNewVisitor" type="submit" value = "submit">

    </form>

    
    
</body>
</html>